body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#infoBox {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: right; /* Align text to the right */
    animation: fadeIn 0.5s; /* Add animation for points */
}

#scoreboard {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: left; 

}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#score {
    color: green; /* Default color for points */
}

#result {
    color: red; /* Color for incorrect answers */
    font-size: 24px; /* Increase size of feedback output */
}

input[type="number"] {
    width: 200px; /* Make input field larger */
    padding: 10px; /* Add padding for better appearance */
    font-size: 16px; /* Increase font size */
}

button {
    padding: 15px 20px; /* Increase button size */
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Increase font size */
}
